@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Devops CI\CD Pipeline... Sprint2 Check Again 123456 Using YAML files- Hello New Repo GitHub 007 1979</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
